<html>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<app-nav></app-nav>
<body>
  <form class="container">
    <div class="inner-container">
      <br>
      <h2>Contact Me:</h2>
      <hr>
      <div class="inner-label">
        <label>
          <strong>Email address</strong>
          <br>
          <input id="email" type="email" name="email" class="inner-input"/>
        </label>
      </div>
      <div class="inner-label">
        <label>
          <strong>Subject</strong>
          <br>
          <input name="subject" id="subject" class="inner-input" type="text"/>
        </label>
      </div>
      <div class="inner-label">
        <label>
          <strong>Message</strong>
          <br>
          <textarea name="message" id="message" class="inner-input" rows="10" cols="70"></textarea>
        </label>
      </div>
      <div class="inner-label">
        <label>
          <input name="submit" id="submit" type="button" class="inner-button" value="Send" (click)="onSubmit()" />
        </label>
      </div>
    </div>
  </form>

</body>

</html>

