<html>
  <app-nav></app-nav>
  <body>
    <div class="cards">
      <div class="card25 card-shadow">
        <img id="logo1" src="../../assets/static/images/skills/1280px-Spring_Framework_Logo_2018.svg.png" alt="Spring Framework Logo">
        <h2 id="item1"><strong>Spring Framework</strong></h2>
      </div>
      <div class="card25 card-shadow">
        <img src="../../assets/static/images/skills/AngularJS-Shield.svg" alt="Angular Logo" style="width: 50px">
        <h2><strong>Angular</strong></h2>
      </div>
      <div class="card25 card-shadow">
        <img src="../../assets/static/images/skills/Moby-logo.png" alt="Docker logo" style="height:60px; width: 90px;">
        <h2><strong>Docker</strong></h2>
      </div>
      <div class="card25 card-shadow">
        <img src="../../assets/static/images/skills/1color-darkbg@2x.png" alt="Git logo">
        <h2><strong>Git</strong></h2>
      </div>
      <div class="card25 card-shadow">5</div>
      <div class="card25 card-shadow">6</div>
      <div class="card25 card-shadow">7</div>
      <div class="card25 card-shadow">8</div>
      <div class="card25 card-shadow">9</div>
      <div class="card25 card-shadow">10</div>
    </div>
  </body>
</html>

